/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */

a:link, a:visited  {
  color: #006891;
  text-decoration: none;
}
a:hover  {
  color: #006891;
  text-decoration: underline;
}
a:active  {
  color: #006891;
  text-decoration: none;
  color: #000;
}
#zone-menu-wrapper {
  border-bottom: 1px solid #006891;
  border-top: 2px solid #006891;
}
#zone-menu-wrapper .block h2 {
  color: #006891;
}
.pager li a {
  color: #006891;
}
.quicktabs-wrapper .item-list ul.quicktabs-tabs {
  border-bottom: 1px solid #006891;
}
#user-homepage-button .form-submit,
#user-homepage-reset-button .form-submit {
  color: #006891;
}
#solr-search-saved-save-form .form-submit {
  color: #006891;
}
.page-search-site .block-view-spotlight-block a {
  color: #006891;
}
.block-gcl-opposite-domain .content ul li a {
  color: #BD2713;
}
.block-gcl-opposite-domain h2 {
  background-image: url("../images/gambling-compliance.png");
  width: 192px;
  height: 25px;
}
#block-system-user-menu .menu li a.active {
background: #006891;
}
.branding-data {
background: transparent url('../images/branding-background.png') 305px bottom no-repeat;
}
ul li.collapsed {
list-style-image: url("../images/arrow_right.png");
}
ul li.leaf {
list-style-image: url("../images/circle.png");
}
ul li.expanded {
list-style-image: url("../images/fieldset_expand.png");
}
.ac_over {
background-color: #006891;
color: white;
}
#views_slideshow_controls_text_hero_promotion-block .hero-slide-pager-next {
  background: url('../images/slideshow/control_right_inactive.png');
}
#views_slideshow_controls_text_hero_promotion-block .hero-slide-pager-previous {
  background: url('../images/slideshow/control_left_inactive.png');
}
#views_slideshow_controls_text_hero_promotion-block .hero-slide-pager-next:hover {
  background: url('../images/slideshow/control_right_active.png');
}
#views_slideshow_controls_text_hero_promotion-block .hero-slide-pager-previous:hover {
  background: url('../images/slideshow/control_left_active.png');
}
#widget_pager_bottom_hero_promotion-block .views-slideshow-pager-field-item.active {
  background: url('../images/slideshow/pager_active.png');
}
.instant-form {
  background: url('../images/pattern.png') repeat 0 0 #006891;
}

.quicktabs-wrapper .item-list ul.quicktabs-tabs li.active a{
  background: no-repeat url('../images/activetab.png') bottom center;
}
.front #page-title{
  display: block;
}
.marker{
  color: #BD2713;
}
