#block-views-topics-block .block-inner {
  background-color: #F4F4F4;
  padding: 15px;
}

.context-about-us .block-menu-menu-about-us {
  margin-top: 54px;
  margin-left: 8px;
}

.context-about-us h1#page-title {
  margin-left: -160px;
}

.context-about-us ul li.leaf {
  list-style-image: url("../images/arrow_right.png");
}