/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */
/*#messages {
  display: none;
}*/
body {
  font: 13px/17px Arial, "Helvetica Neue", Helvetica, sans-serif;
  letter-spacing: 0px;
/*   -webkit-font-smoothing: subpixel-antialiased !important; */
  margin: 0;
}

.block-textsize ul.textsize_list li {
  float: left;
}
.region-content-inner .block-bean {
  float: left;
  width: 30%;
  margin: 0 28px 0 0;
}
#block-bean-headline-one {
  width: 100%;
}
.submitted {
  color: #656565!important;
/*  font-family: Arial;*/
  line-height: 1.5em;
  font-size: 12px;
  margin-bottom: 0.8em;
}
h1 {
  font: 28px/32px Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: normal;
  margin-bottom: 0.8em;
  margin-top: 0.2em;
  /* letter-spacing: -px; */
}
.page-search h1 {
  margin-left: 250px;
}
h2 {
  font: 17px/24px Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: bold;
  color: #0D0D0D;
  /* letter-spacing: -1px; */
}
.node h2 {
  margin: 0.5em 0em;
}
.marker{
/*   color: #006891; */
  color: blue;
}
.block h2 {
  font: 15px/21px Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: bold;
  color: #000000;
  margin-bottom: 0.6em;
  margin-top: 0;
}
.node-teaser h2 {
  font: 18px/21px Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: bold;
  margin: 0;
}
.recent-update{
  background-color: #D9D9D9;
  padding: 1px;
}
p {
  color: #000000;
}

a:link, a:visited  {
  color: #BD2713;
  text-decoration: none;
}

body sup {
  font-size: 0.85em;
  vertical-align: 5px;
}

ul.menu{
  -webkit-margin-before: 0em;
  -webkit-padding-start: 0px;
}
#block-menu-menu-about-us ul.menu li{
  line-height: 2em;
}

.item-list ul {
  margin: 0;
}

.item-list ul li {
  list-style-image: url("../images/arrow_right.png");
  margin:0 0 1em 1em;
}

.item-list ul li:last-child {
  margin-bottom: 0;
}

.element-hidden {
  /*display: none!important;*/
}

html.js input.form-autocomplete  {
  background-position: 100% 8px;
  background-repeat: no-repeat;
  background-image: none;
}
html.js input.throbbing  {
  background-image: url("../images/throbber.gif");
  background-position: 100% 5px;
  background-repeat: no-repeat;
}
button, input[type="reset"],
input[type="submit"],
input[type="button"] {
  font-size: 14px;
  background: #EEE; /* for non-css3 browsers */
  color: #000;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccccc', endColorstr='#D3D3D3'); /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#D3D3D3)); /* for webkit browsers */
  background: -moz-linear-gradient(top,  #eee,  #D3D3D3); /* for firefox 3.6+ */
  margin-right: 5px;
  padding: 10px 20px;
  /*font-weight: normal;*/
  border-radius: 6px 6px 6px 6px;
  -moz-border-radius: 6px 6px 6px 6px;
  -webkit-border-radius: 6px 6px 6px 6px;
  text-shadow: none;
}
#region-branding input.form-text {
  width: 310px;
}
textarea, select,
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
  font-size: 14px;
  height: auto;
  padding: 9px 5px;
}
#search-block-form input[type="text"] {
  font-size: 14px;
  color: #888888;
  background: no-repeat url(../images/search.png) 10px center;
  border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  padding-left: 40px;
}
.compact-form-label {
  font-size: 14px;
  /*font-weight: bold;*/
  left: 10px;
  position: absolute;
  top: 8px;
  z-index: 1;
  color: #BBB;
}

html.js fieldset.collapsed .fieldset-legend {
  background-image: url("../images/fieldset_expand.png");
}
.field .field-label {
 font: 12px "Trebuchet MS", Arial, Sans-Serif;
 font-weight: bold;
 margin-bottom: 4px;
}
.node .field-type-taxonomy-term-reference {
  padding: 20px 60px 20px 0px;
}
.field-type-taxonomy-term-reference .field-items .field-item {
  margin-bottom: 1em;
}
.field-type-taxonomy-term-reference a:link,
.field-type-taxonomy-term-reference a:visited,
.field-type-taxonomy-term-reference span {
  color: #000;
  padding: 2px 8px;
  background-color: #EFEFEF;
  border: 1px solid grey;
  border-radius: 2px;
  -moz-border-radius: 2px;
}
ul li.leaf  {
  list-style-image: url("../images/red_circle.png");
  list-style-type: circle;
}
ul li.expanded {
  list-style-image: url("../images/fieldset_expand.png");
}
ul li.collapsed  {
  list-style-image: url("../images/red_arrow_right.png");
  list-style-type: disc;
}

/* Block listings */

.block-views .view-header .block-title,
.view-spotlight .view-header h2 {
  font: 16px/17px Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: bold!important;
  margin: 0!important;
  padding-bottom: 0.5em!important;
}

.view-spotlight p {
  margin: 0!important;
  padding: 0!important;
}

.block-views li a:link,
.block-views li a:visited  {
  font: 13px/17px Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight:  bold;
}


#breadcrumb {
  margin-bottom: 25px;
}
.breadcrumb {
  padding: 0.5em 0em;
  background: #F4F4F4;
  padding: 4px 10px;
  color: grey;
  font-size: 0.75em;
  text-transform: uppercase;
}
.breadcrumb a {
  color: grey;
  /*font-weight: normal;*/
  padding: 0px 5px;
}
.links .node-readmore{
  background: url("../images/arrow_right.png") right center no-repeat;
  padding: 0px 15px 0px 0px;
}
#block-system-main .node-teaser .node-links ul{
  padding: 0px;
}
.toc {
  background-color: #F4F4F4;
  padding: 15px;
}
a:hover  {
  color: #BD2713;
  text-decoration: underline;
}
a:active  {
  color: #BD2713;
  text-decoration: none;
  color: #000;
}

.more-link {
  position: relative;
  display: block;
  float: right;
}

.view-spotlight .more-link {
  padding: 0 1em 1em 0;
}

.more-link a {
  background: no-repeat url('../images/arrow_right.png') 100% 50%;
  padding-right: 15px;
  text-transform: uppercase;
  font: 12px/17px Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: bold;
  margin: 1em 0 0;
  display: block;
}

.view-spotlight .more-link a{
  margin: 0;
}
.view-charts .views-row{
  margin-bottom: 1em;
}

.block {
  margin-bottom: 1.5em;
}
.block-inner {
}
#region-content .block-inner {
  padding: 0px;
}
.front #page-title {
  display: none;
}
#section-content {
  margin-top: 20px;
}
.front #block-system-main {
  float: left;
  width: 65%;
}
.front #block-views-topics-block,
.front #block-views-videos-block,
.front #block-views-charts-block,
.front #block-views-charts-block-1 {
  float: right;
  max-width: 35%;
  min-width: 35%;
}
.front #block-views-topics-block .block-inner,
.front #block-views-videos-block .block-inner,
.front #block-views-charts-block .block-inner,
.front #block-views-charts-block-1 .block-inner{
  background-color: #F4F4F4;
  padding: 15px;
  margin-left: 25px;
}
.front #block-views-charts-block{
  margin-bottom: 0px;
}
.block-data-block .block-inner{
  background-color: #F4F4F4;
  padding: 15px;
}
.block-bean .block-inner {
  background: transparent;
}
aside .block-bean img {
  min-width: 100px;
  max-width: 100%;
  width: 100%;
}
#block-system-main .block-inner {
}
#block-search-form {
  float: right;
  vertical-align: bottom;
}
#block-views-data-block-1,
#block-menu-menu-sector-menu--2{
  background: #F8F8F8;
  padding: 15px;
}
#block-views-data-block-1 ul li,
#block-menu-menu-sector-menu--2 ul li{
list-style-image: url("../images/arrow_right.png");
margin: 0 0 0.25em 1em;
}
/**
 * Branding.
 */
#zone-branding-wrapper {
  /* Making sure this is heigher than the menu. */
  height: 59px;
  position: relative;
  z-index: 101;
}
.branding-data  {
  background: transparent url('../images/branding-background.png') 100px bottom no-repeat;
  float: left;
  height: 31px;
  margin-bottom: -5px;
  padding: 5px 15px 25px;
  /*border: 1px solid #f00;*/
}
/* end*/
#section-header .block-inner {
  background: transparent;
}
#section-footer {
  background-color: #EEEEEE;
  padding-top: 40px;
}
#zone-user-wrapper {
  /*padding-top: 15px;*/
  /*margin-bottom: 1em;*/
}
#zone-user-wrapper .block,
#zone-user-wrapper .block-inner,
#region-branding .block {
  /*margin: 0px;*/
  /*padding: 0px;*/
}



/**
 * Mega menu.
 */

#zone-menu-wrapper h2 {
  margin: 0;
}

#zone-menu-wrapper ul {
  list-style-position: inside;
  margin: 0;
  padding: 0;
}

#zone-menu-wrapper ul li {
  background: transparent url('../images/arrow_right.png') left top no-repeat;
  float: left;
  /*font-size: 0.85em;*/
  line-height: 1.2em;
  list-style: none;
  margin: 0 0 1em 0;
  padding: 0 0 0 1em;
  width: 100%;
  font: 12px/15px Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: bold;
}
#region-menu .block {
  float: left;
  padding: 0.8em 0;
  margin: 0;
  /*width: 150px;*/
}
.is-open #region-menu .block {
  /*width: 150px;*/
  position: relative;
}
#region-menu .block h2 {
  /*margin: 0 15px;*/
  display: block;
  margin-bottom: 1em;
  margin-top: 0;
  font: 12px/12px Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: bold;
}
#region-menu .block .block-inner {
  padding: 0;
}
#region-menu .block .block-inner .content {
  border-right: 1px solid #D2D2D2;
  margin-top: 1.3em;
  /*padding: 7px 0 0 10px;*/
}

#region-menu section {
  /*width: 160px;*/
  margin-right: 1em;
  padding-right: 1em;
  margin-left: 1em;
}

#region-menu section .menu,
#region-menu section h2 {
  margin-left: 1em;
  margin-bottom: 1em;
}

#region-menu section.block-menu-category .menu ,
#region-menu section.block-menu-category h2{
  margin-left: 0;
}

#region-menu section.even .menu {
  -moz-column-count: 2;
  -moz-column-gap: 2em;
  -webkit-column-count: 2;
  -webkit-column-gap: 2em;
  column-count: 2;
  column-gap: 2em;
  -moz-column-fill: auto;
  vertical-align: top;
}

.closeme {
  padding: 0;
  position: absolute;
  right: 0.2em;
  top: 0.8em;
}
.trialcloseme{
  padding: 0;
  position: absolute;
  right: 0.2em;
  top: 0.8em;
}
/*#block-menu-menu-sector-menu li {
  float: left;
  margin: 0px;
  padding: 0px;
}
#block-menu-menu-sector-menu li ul li {
  line-height: 1em;
  display: block;
}
ul li.expanded {
  list-style-image: url("../images/arrow_down.png");
}
#block-menu-menu-sector-menu li ul li a {
  padding-left: 10px;
  font-size: 0.9em;
  color: black;
}*/
#zone-menu-wrapper {
  background: #EBEBEB;
  border-bottom: 1px solid #BD2713;
  border-top: 2px solid #BD2713;
  line-height: 2.5em;
  overflow: hidden;
  position: relative;
  font: 12px/17px Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: bold;
}
#region-menu #find-content {
  color: #000;
  /*font-size: 0.9em;*/
  /*font-weight: bold;*/
  left: 0;
  margin-right: 40px;
  position: absolute;
  top: -2px;
  width: 100% !important;
  z-index: 100;
  position: absolute;
}
#find-content:hover {
  cursor: pointer;
}
#zone-promo-wrapper{
  display: none;
}
#zone-menu-wrapper .block h2 {
  color: #BD2713;
  font: 12px/17px Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0px;
  background: url("../images/arrow_down.png") no-repeat right 1px;
  padding-right: 18px;
  margin-bottom: 20px;
  display: inline;
  position: relative;
  top:-2px;
}
#region-menu section{
  width: 150px;
}
#region-menu .region-inner {
margin-top: 3em;
}
.is-closed #region-menu .region-inner {
margin-top: 0em;
}
#region-menu #block-menu-menu-category{
  margin-left: 0px;
}
.is-closed #region-menu #block-menu-menu-type{
  margin-left: 130px;
}
.is-open #region-menu #block-menu-menu-type{
  margin-left: 0px;
}
.is-closed #region-menu #block-menu-menu-category{
  margin-left: 130px;
}
.is-open #region-menu #block-menu-menu-category{
  margin-left: 0px;
}
.is-closed #region-menu #block-menu-menu-sector-menu{
  margin-left: -55px;
}
.is-open #region-menu #block-menu-menu-sector-menu{
  margin-left: 0px;
}
.is-closed #region-menu #block-menu-menu-topics{
  margin-left: -30px;
}
.is-open #region-menu #block-menu-menu-topics{
  margin-left: 0px;
}


#region-menu .region-menu-inner {
  overflow: hidden;
}
#region-menu section.odd .block-inner .content{
  border-left: 0px none;
  padding-left: 0px;
}
/**
 * #region-footer-second.
 */
#region-footer-second h2 {
  color: #555;
  font-size: 17px;
}
#region-footer-second {
  background-color: #DEDEE1;
  border: 1px solid #fff;
  box-shadow: inset 0 1px 2px #999;
  margin: 4em -4px;
  padding: 21px 14px;
}
.block.social {
  float: left;
  background: transparent;
}
.block.helpful-links {
  float: left;
  width: 484px;
}
.helpful-links ul.menu {
  margin: 0.5em 0em;
  padding: 0;
}
.helpful-links ul.menu li {
  color: #999;
  float: left;
  font-size: 1em;
  list-style: inside;
  list-style-type: disc;
  margin-left: 0;
  margin-right: 1em;
  list-style-image: url("../images/arrow_right.png");
}
.helpful-links ul.menu li.first {
  list-style-type: none;
}
.helpful-links ul.menu li a {
  /*font-weight: normal;*/
}
.icons_to_other_sites a {
  margin-right: 16px;
}
/* end */
.node-links a {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}

#block-system-user-menu {
  display: block;
  padding: 1em 0 0.5em 0!important;
}

#block-system-user-menu .menu {
  /*display: inline;*/
  padding: 0px;
  margin: 0px 8px;
}

#block-system-user-menu .menu li {
  display: inline;
  padding: 0px;
  margin: 0px 8px;
}
#block-system-user-menu .menu li a {
  background-color: transparent;
  color: #000;
  /*font-weight: bold;*/
  padding: 3px 6px;
}

#block-system-user-menu .menu li a:hover {
}

#block-system-user-menu .menu li a.active {
  background: #BD2713;
  color: white;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

#block-system-user-menu .menu li a.active:hover {
  text-decoration: none;
}

#region-user-second #block-system-user-menu {
  float: right;
}

/**
 * Tables.
 */
.node table {
  border-collapse: collapse;
  text-align: left;
  width: 100%;
  border: solid #4f81bd 1.0pt;
}

table td  {
  padding: 14px 7px;
  border-top: none;
  vertical-align: top;
}
.node td {
  padding: 2px 20px 13px 3px;
}
.node table td {
  border-bottom: solid #4f81bd 1.0pt;
}
table td p{
  margin: 0px !important;
  padding: 0px !important;
}

.node table  {
/*  font-family: "Lucida Sans Unicode","Lucida Grande",Sans-Serif; */
}

.node table thead tr {
  background-color: #4f81bd;
  color: #FFF;
}

.node table tr {
  background: #fff;
}

.node table tr.odd, .node table.table2 tr.odd {
  background: #d3dfee;
}
.node table.table1 tr.odd {
  background: #fff;
}

.node table.table3 tr.even {
  background: #a7bfde;
}


.node table th  {
  border-bottom: 1px solid #FFFFFF;
  color: #FFF;
  font-size: 13px;
  padding: 8px;
}
table th a:link,
table th a:visited {
  color: #FFF;
}


#region-sidebar-second table {
  width: 200px;
}
#region-sidebar-second table td {
  word-wrap:break-word;
  width: 200px;
}

.block table tbody {
  border: none;
}

.portlet-content table td  {
  padding: 8px 0px;
}
.my_saved_search_remove {
  display: block;
  text-align: right;
}
.context-videos table tbody tr:hover td {
  color: inherit;
}
.homebox-portlet table {
  width: 97%;
  margin: 4px;
}
.item-list .pager {
  text-align: left;
}
ul.pager li.pager-item {
  margin: 2px;
  padding: 0px;
}
ul.pager li.pager-first,
ul.pager li.pager-previous,
ul.pager li.pager-next,
ul.pager li.pager-last,
ul.pager li.pager-current {
  margin: 2px;
  padding: 0px;
}
ul.pager li.pager-current {
  background-color: #D6D6D6;
  padding: 6px;
  color: #656565;
}
.pager li a {
  background: #EFEFEF;
  color: #BD2713;
  padding: 6px;
}
/*
Quicktabs
Styling
*/

#quicktabs-homepage {
  background-color: #F7F7F7;
}

#quicktabs-homepage .view-content {
  padding: 0 1em;
}

#quicktabs-homepage .view-content .views-row,
#region-content .view-data .view-content .views-row {
  padding: 0;
  margin: 0;
}

#quicktabs-homepage .view-content p,
#block-system-main .view-data .view-content p {
  padding: 0;
  margin: 0;
}

.quicktabs-wrapper .item-list ul.quicktabs-tabs {
  font-size: 15px;
  color: grey;
  background-color: #EFEFEF;
  border-bottom: 1px solid #BD2713;
  /*padding: 15px 0px;*/
  position: relative;
}

.quicktabs-wrapper .item-list ul.quicktabs-tabs li {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 33%;
  display: inline-block;
  text-align: center;
}

.quicktabs-wrapper .item-list ul.quicktabs-tabs li.active {
  /*background: no-repeat url('../images/activetab.png') bottom center;*/
}

.quicktabs-wrapper .item-list ul.quicktabs-tabs a{
  color: grey;

  margin-bottom: -2px;
  display: block;
  padding: 15px 0px;
}

.quicktabs-wrapper .item-list ul.quicktabs-tabs li.active a{
  color: black;
  background: no-repeat url('../images/activetab.png') bottom center;
}
/*
  Homebox
  styling
*/
#homebox .homebox-column,
.page-dashboard #block-system-main .block-inner {
  background: transparent;
}
.page-dashboard #block-system-main .block-inner {
  padding: 0px;
}
.homebox-portlet {
  min-width: 200px;
}
#homebox .homebox-portlet,
#homebox .homebox-portlet .homebox-portlet-inner {
  border: 0px none;
  background-color: #F7F7F7;
  padding: 0px;
}
#homebox .portlet-content{
  padding: 0px;
}
#homebox .homebox-portlet .portlet-header {
  color: #000000;
  font-size: 16px;
  background: #EFEFEF;
  /* letter-spacing: -0.5px; */
  border: 0px;
  padding: 5px 15px;
}
#homebox-buttons {
  position: absolute;
  right: 10px;
  top: -40px;
}
#homebox .homebox-maximized {
  clear: both;
}
#homebox-add a  {
  display: block;
  height: 50px;
  overflow: hidden;
  padding: 15px;
  width: 130px;
}
#homebox-buttons a {
  /*font-weight: bold;*/
  background: no-repeat url('../images/cog.png') left center;
  padding-left: 25px;
}
#homebox div.view-header{
  text-align: left;
  background: #EFEFEF;
  padding: 0px 15px 10px 15px;
  color: grey;
  font-size: 12px;
}
#homebox div.view-header p{
  margin: 0px;
}
#homebox div.view-content{
  padding: 15px;
}
#homebox-column-3 .view-content .views-row .field-type-text-with-summary {
 display: none;
}
.field-type-text-with-summary {
  padding-bottom: 30px;
}
#quicktabs-homepage .field-type-text-with-summary {
  padding-bottom: 10px;
}
.portlet-close {
  background: no-repeat url('../images/remove.png') 0 0;
}
.portlet-maximize {
  background: no-repeat url('../images/maximise.png') 0 0;
}
.portlet-maximized .portlet-minimize {
  background: no-repeat url('../images/remove.png') 0 0;
}
.portlet-minus {
  background: no-repeat url('../images/collapse.png') 0 0;
}
.portlet-header .portlet-settings {
  background: no-repeat url('../images/cog.png') 0 0;
}
.portlet-icon {
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
}

.block-hero-promotion-block {
  height: 300px;
}

.views_slideshow_cycle_main {
  position: relative;

}
.views_slideshow_main .more-link {
  float: left;
/*  display: inline;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.857em;*/
}

.slidetext h2 {
  margin-top:0;
  font: 18px/17px Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: bold;
}

.slidetext h2 a {
  color: #000;
}

.slidetext div:nth-of-type(2) {
  padding-bottom:0;
  display: block;
}

.views_slideshow_cycle_main .slidetext {
  position: absolute;
  right: 0px;
  top: 35px;
  padding: 20px;
  width: 260px;
  min-height: 120px;
  background: repeat url('../images/transbg.png') 0 0;
}

#views_slideshow_controls_text_hero_promotion-block,
.view-hero-promotion {
  position: relative;
}

.views-slideshow-controls-bottom {
  position: absolute;
  z-index: 10;
  bottom: -5px;
  left: 0.8em;
}


#views_slideshow_controls_text_hero_promotion-block .hero-slide-pager {
  display: block;
  height: 38px;
  float: left;
  width: 34px;
}
#views_slideshow_controls_text_hero_promotion-block .hero-slide-pager-next {
  background: url('../images/slideshow/control_right_inactive.png');
}
#views_slideshow_controls_text_hero_promotion-block .hero-slide-pager-previous {
  background: url('../images/slideshow/control_left_inactive.png');
}
#views_slideshow_controls_text_hero_promotion-block .hero-slide-pager-next:hover {
  background: url('../images/slideshow/control_right_active.png');
}
#views_slideshow_controls_text_hero_promotion-block .hero-slide-pager-previous:hover {
  background: url('../images/slideshow/control_left_active.png');
}
#widget_pager_bottom_hero_promotion-block {
  background: #DCDCDC;
  bottom: 20px;
  left: 320px;
  max-width: 240px;
  position: relative;
  z-index: 10;
}
#widget_pager_bottom_hero_promotion-block .views-slideshow-pager-field-item {
  background: url('../images/slideshow/pager_inactive.png');
  float: left;
  height: 17px;
  margin-right: 4px;
  width: 17px;
}
#widget_pager_bottom_hero_promotion-block .views-slideshow-pager-field-item.active {
  background: url('../images/slideshow/pager_active.png');
}
#widget_pager_bottom_hero_promotion-block .views-field-counter {
  visibility: hidden;
}
/* Promo block options */
#region-promo .block-inner,
#region-promo .block {
  padding: 0px;
  margin: 0px;
  text-align: center;
}
#region-promo .block-inner {
  line-height: 1.7em;
}
#region-promo .right .block-inner,
#region-promo .right .block {
  text-align: left;
}
#region-promo .left .block-inner,
#region-promo .left .block {
  text-align: right;
}
#zone-promo-wrapper .field-type-image img {
  width: auto;
}
#region-promo .block h2 {
  font-size: 1.8em;
  line-height: 1.2em;
  color: #FFF;
  margin-top: 1em;
  margin-bottom: 0px;
  max-width: 40%;
  float: left;
}
#zone-promo-wrapper .block-bean.right .field-name-field-image {
  float: right;
}
#zone-promo-wrapper .block-bean.right .field-name-field-tag-line,
#zone-promo-wrapper .block-bean.right .field-name-field-link-to {
  float: left;
  max-width: 40%;
  clear: left;
  margin-bottom: 1em;
}
#zone-promo-wrapper .field-name-field-tag-line p {
  color: #FFF;
  font-size: 14px;
  color: #FFF;
  margin-bottom: 1em;
}
#zone-promo-wrapper .field-name-field-link-to a {
  float: left;
  font-size: 16px;
  background: #EEE; /* for non-css3 browsers */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccccc', endColorstr='#D3D3D3'); /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#D3D3D3)); /* for webkit browsers */
  background: -moz-linear-gradient(top,  #eee,  #D3D3D3); /* for firefox 3.6+ */
  padding: 15px 40px;
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background: -moz-linear-gradient(center top , #FFFFFF 0%, #DDDDDD 100%) repeat scroll 0 0 transparent;
  border-color: #DDDDDD #BBBBBB #999999;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  color: #333333;
  cursor: pointer;
  outline: 0 none;
  overflow: visible;
  text-shadow: 0 1px 1px #FFFFFF;
}
.block-system-main .views-row .node-teaser {
  /*margin-bottom: 0;*/
}
/*.node-teaser {
  margin-bottom: 2em;
} */
.views-field-field-video-file {
  margin-bottom: 1em;
}
.view-topics .views-row {
  /*margin-bottom: 1em;*/
}
.view-data .views-row{
  margin-bottom: 1em;
}
/**
 * Events.
 */
.block .view-events .views-row {
  border-bottom: 1px solid #ccc;
  clear: both;
  margin-bottom: 9px;
  min-height: 55px;
  padding: 10px 0 10px 0;
}
aside .block .view-events .views-field-field-date-range {
  color: #464646;
  float: left;
/*  font-family: Arial, sans-serif;*/
  font-size: 1.1em;
  line-height: 1em;
  padding-top: 2px;
  width: 50px;
  text-align: center;
}
.block .view-events .views-field-title {
  line-height: 1.2em;
  font: 13px/16px Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: bold;
}
aside .block .view-events .views-field-field-date-range span span {
  font-size: 1.8em;
  line-height: 1.3em;
}
.block .view-events .views-field-field-geography,
.block .view-events .views-field-body {
  color: #464646;
  margin: 6px 0 0 50px;
}
.view-events.view-display-id-page .views-field-body{
  margin-left: 0px;
}
.view-events.view-display-id-page .views-row{
  background: #FAFAFA;
  padding: 15px;
  margin-bottom: 20px;
  border:1px solid #E0E0D8;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
}
.view-events.view-display-id-page .views-field-title{
  border-top: 1px solid #E0E0D8;
  margin-top: 10px;
  padding-top: 10px;
  clear: both;
  font-size: 18px;
}
.view-events.view-display-id-page .views-field-field-geography,
.view-events.view-display-id-page .views-field-field-own-event{
  float: right;
  margin: 0px 90px 0px 50px;
  font-size: 12px;
  color: #656565;
}
.view-display-id-page .views-field-field-date-range{
  background: url(../images/calendar.png) no-repeat left center;
  padding-left: 25px;
  font-size: 12px;
  color: #656565;
}
.views-field-field-geography-1{
  font-size: 14px;
  color: #656565;
}
.view-filters{
  margin-bottom: 30px;
  color: #656565;
  font-size: 12px;
}
.view-filters label{
  text-transform: uppercase;
}
.views-exposed-form .views-exposed-widget .form-submit{
  margin-top:1.2em;
}
/**
 * Footer
 */
#section-footer .block {
  margin-bottom: 0;
}
#section-footer .block-inner {
  background: transparent;
}
/**
 * Footer webform.
 */
#section-footer section.block-webform {
  margin-bottom: 10px;
}
#section-footer .webform-client-form {
  position: relative;
}
#section-footer .webform-client-form .webform-component-textarea {
  float: right;
  position: absolute;
  right: 0;
  top: 0;
}
#section-footer .webform-client-form .form-item {
  clear: left;
  float: left;
  margin-bottom: 0;
}
#section-footer .webform-client-form .form-actions {
  float: right;
  width: 463px;
}
#section-footer .webform-client-form .form-actions input {
  padding: 10px 50px;
  background: #8B8B8B; /* for non-css3 browsers */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8B8B8B', endColorstr='#797979'); /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(#8B8B8B), to(#797979)); /* for webkit browsers */
  background: -moz-linear-gradient(top,  #8B8B8B,  #797979); /* for firefox 3.6+ */
  color:#FFF;
}
#section-footer .webform-client-form h2 {
  font-size: 1.5em;
  color: #000;
}
#section-footer .webform-client-form input.form-text {
  width: 455px;
}
#section-footer .webform-client-form textarea {
  /* Because this is positioned absolutely, we're restricting the height. */
  height: 88px;
  max-height: 88px;
  min-height: 88px;
  resize: none;
  width: 465px;
}
#section-footer .webform-client-form .form-required {
  display: none;
}
#section-footer .webform-client-form .all-fields-required {
  color: #999;
  font-size: 0.9em;
  font-style: italic;
  padding-left: 20px;
}
/**
 * Footer addresses.
 */
#section-footer h2.locations-title {
  margin-bottom: 20px;
}
#section-footer .address h2 {
  color: #4B4B4B;
  font-size: 1em;
}
.block.address {
  float: left;
  padding-right: 2.6%;
  line-height: 1.275em;
  width: 23%;
}
.address.united-kingdom {
  padding-right: 0;
}
/* Contact us flag styling */
#section-footer .address h2 {
  padding-left: 25px;
  margin: 0px;
  color: #666;
}
.vcard .adr{
  min-height: 80px;
}
.address.united-kingdom h2 {
  background: url('../images/flags/uk_flag.png') no-repeat 0 50%;
}
.address.united-states-america h2 {
  background: url('../images/flags/usa_flag.png') no-repeat 0 50%;
}
.address.argentina h2 {
  background: url('../images/flags/argentina_flag.png') no-repeat 0 50%;
}
.address.australia h2 {
  background: url('../images/flags/australia_flag.png') no-repeat 0 50%;
}
.view-videos .views-field-title {
  /*font-weight: bold;*/
  /*min-height: 75px;*/
  padding-bottom: 0.5em;
}
.page-videos .views-field-field-video-file {
  background: #F7F7F7;
  border: 1px solid #CCCCCC;
  padding: 15px;
}
.views-field-created {
  color: #666;
}
.view-videos .views-field-body {
  font-size: 0.9em;
  line-height: 1.3em;
}
.field-name-field-purchase-download {
  clear: both;
  display: block;
}
/**
 * Reports.
 */
#block-system-main p,
#block-system-main ul,
#block-system-main blockquote,
#block-system-main q,
#block-system-main pre,
#block-system-main table,
#block-system-main fieldset {
  margin-bottom: 1.5em;
}

/**
 * Related content blocks.
 */

.block-facetapi {
  padding-top: 1em;
}
.block-facetapi .content ul li {
  margin-bottom: 0.3em;
}
.block-facetapi .content ul li a {
  padding-left: 0.3em;
  font: 12px/14px Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: bold;
}
.block-tableofcontents-block,
.block-apachesolr-search {
  background: #F4F4F4;
  padding: 15px;
}
.ac_over {
background-color: #BD2713;
color: white;
}
.block-tableofcontents-block .item-list ul li,
.block-apachesolr-search .item-list ul li {
/*  list-style-image: none;
  margin: 0 0 0.8em 0;*/
}

.block-tableofcontents-block a:link,
.block-apachesolr-search a:link {
  /*font-weight: normal;*/
}

.search-results {
  margin: 0;
  padding: 0;
}
.search-results .title {
  margin-bottom: 0.4em;
  font: 18px/17px Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: bold;
}

.search-results li {
  margin-bottom: 2.5em;
}

/* Gambling data Block */
.block-gcl-opposite-domain {
  padding-top:  2.5em;
}
.block-gcl-opposite-domain h2 {
  background-image: url("../images/gambling-data.png");
  display:  block;
  height: 23px;
  width: 127px;
  text-indent: -9999px;
}
.block-gcl-opposite-domain .content ul li {
  list-style: none;
  margin: 0 0 2em 0;
}
.block-gcl-opposite-domain .content ul li.first {
  margin: 2em 0 2em 0;
}
.block-gcl-opposite-domain .content ul li a {
  color: #006891;
  font: 17px/17px Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: bold;
}
.related-content-date {
  padding-top:  0.4em;
  font: 12px/17px Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #656565;
}

.toc {
  font-size: inherit;
  background: none;
}

.toc-title {
  font-weight: normal;
}
.toc-list {
  margin: 1em 0 0 0;
}

.toc ul {
  margin: 0;
  padding: 0.5em 0 0 1em;
}

.toc ul li {
  list-style-image: url("../images/arrow_right.png");
  margin:0 0 0.5em 1em;
}

.toc ul li:last-child {
  margin-bottom: 0;
}

/**
 * @group Symbolset tweaks.
 */
.block-gcl-node-actions {
  padding: 14px 20px;
  font-family: "Trebuchet MS", Arial, Sans-Serif;
  font-weight: bold;
}
.node .content .block-gcl-node-actions {
  margin-top: 50px;
  overflow: auto;
  padding: 0;
}
.gcl-node-actions-link {
  float: left;
  margin-bottom: 5px;
}
.node .content .gcl-node-actions-link {
  margin-right: 35px;
  min-width: inherit;
}
.gcl-node-actions-link.even {
  margin-right: 8px;
  min-width: 180px;
}
.gcl-node-actions-link .ss-symbol {
  /*color: #67757B;*/
  color: #7C8A8F;
  font-size: 17px;
  vertical-align: sub;
}
.gcl-node-actions-link span {
  margin-left: 0;
  font-size: 13px;
}
.gcl-node-actions-link .ss-symbol {
  margin-right: 0.5em;
}
.gcl-node-actions-link .flag-bookmarks .flag-message {
  display: none !important;
}
.gcl-node-actions-link .flag-bookmarks a {
  margin-left: -5px;
}
/**
* @end
*/
/**
 * Table of contents tweaks.
 */
.block-tableofcontents-block #toc {
  border: none;
  padding: 0;
}
.block-tableofcontents-block .toc-title {
  content: "";
}
.block-tableofcontents-block .toc-toggle-message {
  background: url('../images/red-triangle-marker.png') no-repeat;
  color: #AA0804;
  float: left;
  margin-bottom: 5px;
  padding-left: 16px;
}
.block-tableofcontents-block .toc-list {
  clear: both;
}
/* @end */
/**
 * Spotlight Theming
 */
.page-taxonomy-term h1{
  position: absolute;
  top: -60px;
  left: -320px;
  width: 530px;
}
.page-taxonomy-term-news h1,
.page-taxonomy-term-reports h1,
.page-taxonomy-term-market h1{
  position: relative;
  top: 0px;
  left: 0px;
}

.page-taxonomy-term .zone-content .grid-4,
.page-taxonomy-term #zone-content .region-sidebar-second,
.page-taxonomy-term-news #zone-content .region-sidebar-second,
.page-taxonomy-term-reports #zone-content .region-sidebar-second,
.page-taxonomy-term-market #zone-content .region-sidebar-second{
  margin-top: 60px;
}
.page-taxonomy-term .zone-content .block{
  background: #F7F7F7;
}
.page-taxonomy-term .zone-content aside .block .field-name-body{
  display: block;
}
.page-taxonomy-term-news .zone-content aside .block .field-name-body,
.page-taxonomy-term-reports .zone-content aside .block .field-name-body,
.page-taxonomy-term-market .zone-content aside .block .field-name-body{
  display: none;
}
.page-taxonomy-term .zone-content .block .view-content,
.page-taxonomy-term .zone-content .block .view-empty {
  padding: 15px 15px 0px 15px;
}
.page-taxonomy-term .zone-content .block .view-empty p {
  padding-bottom: 2em!important;
}
.page-taxonomy-term .zone-content .block .block-inner > h2,
.page-taxonomy-term .zone-content .block .view-header{
  background: #EFEFEF;
  margin: 0px;
  padding: 10px 15px 0px 15px;
  /*font-size: 1.15em;*/
}
.page-taxonomy-term #block-views-videos-block-2 h2{
  background: transparent;
}
.page-taxonomy-term .zone-content .block .view-header{
  color: #565656 !important;
  font-size: 13px;
  padding-bottom: 20px;
  padding-top: 5px;
}
.page-taxonomy-term h1{
  margin-bottom: 0.5em;
}
.view-header h2{
  font: 16px/17px Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: bold;
  padding: 5px 0px 5px 0px;
  margin: 0px;
}
.view-spotlight .item-list{
  padding: 0px 15px;
}
.spotlight_back{
  background: url(../images/arrow_left.png) no-repeat left center;
  padding: 0px 0px 0px 25px;
  margin-bottom: 0.9em;
  text-transform: lowercase;
}
.spotlight_search{
  float: right;
  font: 13px/19px Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: bold;
  background: url(../images/search_spotlight.png) no-repeat left center;
  padding-left: 25px;
  padding-right:10px;
  padding-top: 5px;
}
.block-gcl-search-tweaks a {
  font: 13px/19px Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: bold;
}

.page-taxonomy-term .block-gcl-spotlight,
.page-taxonomy-term .block-user-homepage {
  position: absolute;
  top: -49px;
}

.page-taxonomy-term .block-gcl-spotlight {
  right: -318px;
}

.page-taxonomy-term .block-user-homepage {
  right: -90px;
}

.page-taxonomy-term .block-gcl-spotlight .spotlight_search {
  padding-right: 0;
  padding-top: 0;
}

/**
* @end
*/
/* @group save as homepage buttons */
#user-homepage-button .form-submit,
#user-homepage-reset-button .form-submit,
.page-search-site #block-gcl-spotlight-gcl-spotlight-page-link a {
  background: none;
  border: none;
  color: #BD2713;
  font: 13px/19px Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: bold;
  padding: 0;
  vertical-align: 1px;
}
#user-homepage-button .ss-symbol,
#user-homepage-reset-button .ss-symbol {
  color: #67757B;
  font-size: 17px;
  margin-right: 0.5em;
}
#user-homepage-reset-button .form-submit {
  vertical-align: 3px;
}
/* @end */
/* @group search page tweaks */
.page-search-site #region-content #block-system-main .content > h2 {
  display: none;
}
.search-results .search-snippet-info {
  padding-left: 0;
}
#block-system-main .search-results .search-snippet-info p.search-info {
  color: #666666;
  margin-bottom: 8px;
}
.page-search-site #block-system-main .pager-ellipsis {
  display: none;
}
#solr-search-saved-save-form .form-submit {
  background: none;
  border: none;
  color: #BD2713;
  font: 13px/19px Arial, sans-serif;
  font-weight: bold;
  padding: 0;
  vertical-align: 3px;
}
#block-apachesolr-search-sort{
  background: transparent;
  padding: 0px;
  font-weight: bold;
}
#solr-group--all > span{
  display: none;
}
#solr-group--all ol{
  list-style-type: none;
  padding-left: 0px;
}

#block-apachesolr-search-sort ul li  {
  list-style-image: url("../images/red_circle.png");
  list-style-type: circle;
  margin-bottom: 0.3em;
}
.page-search-site .block-view-spotlight-block {
  padding-top: 3em;
}
.page-search-site .block-view-spotlight-block a {
  color: #BD2713;
  font-size: 13px;
}
.page-search-site .block-view-spotlight-block a:hover {
  text-decoration: none;
}
.ss-symbol {
  color: #67757B;
  font-size: 17px;
  margin-right: 0.5em;
}
.page-search-site #block-solr-search-saved-saved-searches {
  background: #F7F7F7;
  padding: 15px 15px;
}
.page-search-site #block-solr-search-saved-save-search h2.block-title,
.page-search-site #block-solr-search-saved-saved-searches h2.block-title {
  /*font-size: 1.2em;*/
}
.page-search-site #block-user-homepage-user-homepage-button,
.page-search-site #block-user-homepage-user-homepage-reset-button,
.page-search-site #block-solr-search-saved-save-search,
.page-search-site #block-gcl-spotlight-gcl-spotlight-page-link {
  padding: 0px 15px;
  margin-bottom: 1em;
}

.page-search-site aside#region-sidebar-second .region-inner > .block:first-child {
  padding-top: 1em;
}
.page-search-site #block-user-homepage-user-homepage-button,
.page-search-site #block-solr-search-saved-save-search,
.page-search-site #block-gcl-spotlight-gcl-spotlight-page-link {
  padding-left: 15px;
  padding-right: 15px;
}
.page-search-site #block-solr-search-saved-saved-searches table tbody tr,
.page-search-site #block-solr-search-saved-saved-searches table tbody tr:hover,
.page-search-site #block-solr-search-saved-saved-searches table tbody tr td {
  background: inherit;
  border: none;
  line-height: 20px;
  padding: 0;
}
.page-search-site #block-solr-search-saved-saved-searches table tbody tr td {
  padding: 0px 0;
}
.page-search-site #block-solr-search-saved-saved-searches a {
  /*font-weight: normal;*/
}
/* @end */

/* @group node-bottom tags */
.node-type-chart .group-trunk-categories .field {
  padding-right: 25px;
}
.grid-8 .node .group-trunk-categories .trunk-category-5,
.grid-8 .node .group-trunk-categories .trunk-category-9 {
/*  clear: both;*/
}
.grid-8 .node .group-trunk-categories .trunk-category-quad-row-2,
.grid-8 .node .group-trunk-categories .trunk-category-quad-row-3 {
  margin-top: 10px;
}
.group-trunk-categories-top .group-trunk-categories {
  background: inherit;
  padding: 0;
  overflow: visible;
}
.group-trunk-categories-top .field {
  clear: both;
  display: block;
  font-size: 0.88em;
  float: none;
  padding: 0;
}
.group-trunk-categories-top .field > div {
  display: inline-block;
}
.group-trunk-categories-top .field .field-label {
  min-width: 80px;
}
.group-trunk-categories {
  background: #F7F7F7;
  padding: 1em;
  margin-top: 2em;
}
.group-trunk-categories h3{
  display: none;
}
.group-trunk-categories ul {
  padding: 0;
}
.group-trunk-categories li {
  list-style: none;
}
.group-trunk-categories .field {
  font-size: 0.9em;
  padding: 0 10px 0 0;
  clear: both;
/*
  width: 30%;
  float: left;
*/
}
.group-trunk-categories .field:nth-of-type(4) {
  clear: both;
}
.group-trunk-categories {
  display: block;
  overflow: auto;
}
.group-trunk-categories .field a,
.group-trunk-categories .field span {
  background: #F2F2F2;
  border: 1px solid #D5D5D5;
  border-radius: 4px;
  font-weight: normal;
  margin-bottom: 3px;
  margin-right: 1em;
/*   line-height: 24px; */
  float: left;
}
.group-trunk-categories .field-label {
  margin-bottom: 1px;
  min-width: 75px;
  float: left;
  line-height: 2em;
}

.group-trunk-categories .field-label-inline .field-items{
  float: none;
  padding-left: 80px;
}
/* @end */
/* @group Video Page Styling. */
.field-type-youtube{
  float: left;
}
.node-video .field-type-taxonomy-term-reference{
  float: left;
  width: 220px;
  padding: 0px 0px 20px 15px;
  font-size: 0.8em;
}
.node-video .field-type-taxonomy-term-reference a{
  font-weight: normal;
  border-color: #D5D5D5;
}
.node-video .field-type-taxonomy-term-reference .field-label{
  background: url(../images/tag.png) no-repeat left center;
  padding-left: 25px;
  width: 75px;
}
.node-video .field-type-taxonomy-term-reference .field-items{
  width: 120px;
  float: left;
}
.node-video .field-type-taxonomy-term-reference .field-item{
  float: left;
  margin: 0px 2px;
  line-height: 2em;
  white-space: nowrap;
}

/* Al tweaks */

#block-views-topics-block .block-inner {
  background-color: #F4F4F4;
  padding: 15px;
}

.gclaboutus .block-menu-menu-about-us {
  margin-top: 54px;
  margin-left: 8px;
}

.gclaboutus h1#page-title {
  margin-left: -160px;
}

.gclaboutus ul li.leaf {
  list-style-image: url("../images/arrow_right.png");
}

/* @end */

/* @group Charts */
.node-teaser .field-name-field-chart {
  float: left;
  margin-right: 15px;
}
/* @end */

article.node h2 {
  font-size: 18px;
}

/* @group Admin info and links below content */
.content nav.left,
.content nav.right {
  float: left;
  width: 300px;
}

.content nav.left {
  padding-right: 10px;
}

.content nav.right {
  padding-left: 10px;
}

.content .field-name-field-sheduled-review {
  padding: 1.5em 0;
}

.content nav ul li {
  list-style-type: none;
  padding-left: 0;
}

#block-system-main .content nav ul {
  list-style-type: none;
  margin-bottom: 0;
  padding-bottom: 0;
  padding-left: 0;
}
