
/* @group general content fields */
.node-type-regulatory-reports p {
  margin-bottom: 1.0em;
}
.node-type-regulatory-reports h1#page-title {
  font-size: 1.9em;
  margin-bottom: 0.3em;
}
.node-type-regulatory-reports footer.submitted {
  font-size: 0.88em;
}
.node-type-regulatory-reports footer.submitted a.username {
  font-weight: normal;
  text-transform: capitalize;
}
.node-type-regulatory-reports footer.submitted a.comment-count {
  color: #656565;
  font-weight: normal;
}
.node-type-regulatory-reports .field-name-body,
.node-type-regulatory-reports .field-name-body img {
  max-width: 620px;
}
.node-type-regulatory-reports .field-name-body .teaser {
/*
  font-size: 1.3em;
  font-style: italic;
*/
}
/* @end */

/* @group comments */
#comments {

}
#comments h2.title {
  color: #AA0000;
  font-weight: normal;
}
/* @end */

/* @group aside blocks */
/* TODO: This probably wants to go on the global.css file. */
.node-type-regulatory-reports aside section.block {
  background: #F7F7F7;
  padding: 15px 20px;
}
.node-type-regulatory-reports aside section.block h2.block-title {
  /*font-size: 1.2em;*/
}
.node-type-regulatory-reports aside section.block .content {

}

.region-content ul.flippy,
ul.links.inline {
  text-align: left;
  margin: 0;
  padding: 1.5em 0;
  display: block;
  clear: both;
}

.region-content ul.flippy li {
  margin: 0;
  padding: 1em 0 0 0;
}

.region-content ul.flippy li.next{
  float: right;
}

.region-content ul.flippy li.previous {
  float: left;
}


/* @end */
