/* $Id$ */

.managed-newsletters-node-wrapper .managed-newsletters-node-buttons,
.managed-newsletters-node-wrapper .form-item 
{
	display: inline;
}
.managed-newsletters-node-buttons img,
.managed-newsletters-group-buttons img{
  cursor: pointer;
}