
.free-trial-form {
  bottom: 20px;
  font-size: 20px;
  position: relative;
  clear: both;
  overflow: hidden;
}
.free-trial-form img {
  position: relative;
  right: 15px;
}
.free-trial-form a:link{
  font-weight: normal;
}
.free-trial-form p{
  margin: 0px !important;
  line-height: 1.25em;
}
.instant-form{
  background:url('../images/pattern.png') repeat 0 0 #A44A3C;
  font-size: 24px;
  padding: 20px;
  margin-top: 1em;
}
.instant-form p{
  color: #FFF;
  font-weight: bold;
  margin: 0px !important;
}

.instant-left{
  float: left;
  width: 60%;
}
.instant-right{
  float: right;  
  width: 40%;
}

.instant-button:link,
.instant-button:visited{
  background: #EEE; /* for non-css3 browsers */
  color: #000;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccccc', endColorstr='#D3D3D3'); /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#D3D3D3)); /* for webkit browsers */
  background: -moz-linear-gradient(top,  #eee,  #D3D3D3); /* for firefox 3.6+ */
  margin-right: 5px;
  padding: 10px 20px;
  font-weight: normal;
  font-size: 17px;
  border-radius: 6px 6px 6px 6px;
  -moz-border-radius: 6px 6px 6px 6px;
  -webkit-border-radius: 6px 6px 6px 6px;
  float: right;
}