.solrssr-collapsible .panel-solr-searsh-saved-result-header{
	height: 23px;
	width: 100%;
	cursor: pointer;
}
.solrssr-collapsed .panel-solr-searsh-saved-result-header{
}
.solrssr-collapsed .solr-search-results .solr-search-results-item-teaser{
	height:auto;
}


/**Styles for solar search dnd */
div.solr_search_saved_dynamic_column{
	border:solid 0px blue;
	min-height:1px;
}
div.droppable-can-receive{
	background-color:#c4c4c4;
}
.solr-sort-helper{
	border: 1px dashed #111;
}
